<div class="dashboard-grid">
  <app-charts-gallery
    [momentDataObservable]="momentGroupObservable"
    [monthGroupDataObservable]="monthGroupObservable"
    [neighborhoodDataObservable]="neighborhoodGroupObservable"
  ></app-charts-gallery>

  <div class="simple-card">
    <app-chart
      [chartOptions]="typeGroupChartData"
    ></app-chart>
  </div>

  <div class="simple-card">
    <app-chart
      [chartOptions]="genderGroupChartData"
    ></app-chart>
  </div>

  <div class="simple-card">
    <app-chart
      [chartOptions]="ageGroupChartData"
    ></app-chart>
  </div>
</div>
