.simple-card {
  padding: 1rem 2rem;
  background-color: var(--gray-lighter);
  border-radius: 1rem;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
  gap: 1rem;
}
