<h2>Dashboard</h2>

<div class="dashboard-grid">
  <app-charts-gallery
    [momentDataObservable]="momentGroupObservable"
    [monthGroupDataObservable]="monthGroupObservable"
    [neighborhoodDataObservable]="neighborhoodGroupObservable"
  ></app-charts-gallery>

  <div class="simple-card">
    <app-chart
      [chartOptions]="typeGroupChartData"
    ></app-chart>
  </div>

  <div class="simple-card">
    <app-chart
      [chartOptions]="genderGroupChartData"
    ></app-chart>
  </div>

  <div class="simple-card">
    <app-chart
      [chartOptions]="ageGroupChartData"
    ></app-chart>
  </div>
</div>

<div class="dashboard-table">
  <h3>Ocorrências</h3>
  <app-datepicker (applyDateRange)="fetchComplaints($event)"></app-datepicker>
  <app-table
    [complaintObservable]="complaintsListObservable"
    (selectComplaintEvent)="selectComplaint($event)"
  ></app-table>
</div>
